.topblock{
    position:absolute;
    margin-top: 6.1%; 
    margin-left:4%;
    width:300px;
    height:10px;
    background-color:#e82e21;
    }
    
.bottonblock2{
        position:absolute;
        margin-top: -1%; 
        margin-left:4%;
        width:10px;
        height:105px;
        background-color:#e82e21;
        }

          
.block{
        position:absolute;
        margin-top: 25%; 
        margin-left:78.6%;
        width:300px;
        height:105px;
        background-color:#e82e21;
        }


.contact{
    font-family: "Sora", sans-serif;
    position:absolute;
    margin-top: 3.8%; 
    margin-left:30.5%;
    font-weight: 700;
    font-size:60px;
  color:#e82e21;
  }
  
  .contact-p{
    font-family: "Sora", sans-serif;
    position:absolute;
    margin-top: 10%; 
    margin-left:32%;
    font-weight:400;
    font-size:36px;
    line-height: 46px;
  color:black;
  }
  
  .E{
    font-family: "Sora", sans-serif;
    position:absolute;
    margin-top: 19%; 
    margin-left:32%;
    font-weight: 700;
    font-size:48px;
  color:#e82e21;
  }