body{
    font-family: "Sora", sans-serif;
    background-color: BLACK;
}
  
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1410px;
    height:90%;

}

.orangeblock{ 
    position: absolute;
    top: 16%; 
    margin-left:-2%;
    width:100px;
    height:440px;
    background-color:#d56600;
    animation: backInDown 3s ;
}

.information{
    position:absolute;
    color:white;
    margin-top: 3%;
    margin-left:15%;
}

.hello{
    font-size:125px;
    font-weight: 800;
    animation:fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
       color:black;
    }
    
    100% {
       color:black;
       opacity: 1;
    }
 } 

.unicorn{
    font-size:36px;
    font-weight: 500;
    animation:fadeIn 6.5s;
}

.bounty{
    font-size:60px;
    font-weight: 800;
    color:#d56600;
    animation:fadeIn 5s;
}

#photo1{
position:absolute;
width:30%;
margin-top:-19%;
margin-left:15%;
animation:shakeY 11s infinite;
}

#photo1:hover{
    filter: drop-shadow(8px 8px  #d56600);
}

.prize{
    font-size:60px;
    font-weight: 800;
    color:#d56600;
    animation:fadeIn 9.5s;
}

.longblock1{
    position:absolute;
    width:143px;
    height:10px;
    margin-top:-28%;
    margin-left:130%;
    background-color: #d56600;
    animation:fadeInRight 16s;
}

.longblock2{
    position:absolute;
    width:10px;
    height:450px;
    margin-top:-28%;
    margin-left:130%;
    background-color: #d56600;
    animation:fadeInUp 16s;
}
    
.longblock3{
        position:absolute;
        width:1130px;
        height:10px;
        margin-top:25.8%;
        margin-left:-8%;
        background-color: #d56600;
        animation:fadeInRight 16s;
}
    
.longblock4{
            position:absolute;
            width:10px;
            height:900px;
            margin-top:26%;
            margin-left:-8%;
            background-color: #d56600;
            animation:fadeInUp 18s;
}
    
.longblock5{
        position:absolute;
        width:180px;
        height:10px;
        margin-top:134.8%;
        margin-left:-30%;
        background-color: #d56600;  
        animation:fadeInRight 22s;
}

#photo2{
position:absolute;
width:50%;
margin-top:5%;
margin-left:16%;
animation:fadeInUp 30s;
}
            
.gamearea{
    position:absolute;
    color:white;
    margin-top: 30%;
    margin-left:8%;
    font-size:36px;
    font-weight: 600;
}

.minigame{
    text-decoration: underline 13px#d56600 ;
}

.greenlight{
color:#d56600;
font-size:87px;
width:1000px;
font-weight: 800;
margin-left:-0%;
line-height: 150px;
}

.dalgona{
    color:#d56600;
    font-size:90px;
    width:1000px;
    font-weight: 800;
    line-height: 150px;
}

.mahjong{
        color:#d56600;
        font-size:90px;
        width:1000px;
        font-weight: 800;  
        line-height: 150px;  
}

.avalon{
    color:#d56600;
    font-size:90px;
    width:1000px;
    font-weight: 800;  
    line-height: 150px;  
}

#photo3{
    position:absolute;
    width: 33%;
    margin-top:57%;
    margin-left:-15%;
    animation:pulse 3s infinite ;
}

.information2{
    position:absolute;
    color:white;
    margin-top: 145%;
    margin-left:30%;
    font-size:36px;
    font-weight: 600;
}

.ticket{
    color:#d56600;
    font-weight: 800;
}

.address{
    color:#d56600;
    font-weight: 800;
}

.important{
    color:grey;
}

.whiteblock2{ 
    position: absolute;
    margin-top: 5%; 
    margin-left:50%;
    width:100px;
    height:60px;
    background-color:#d56600;
}

.whiteblock3{ 
        position: absolute;
        margin-top: 5%; 
        margin-left:-115%;
        width:300px;
        height:60px;
        background-color:#d56600;
}

/*#photo4{
    position: absolute;
    margin-top:20%;
    margin-left:70%;
    border-radius: 30px;
    width:35%;
}
*/